<h1>ChatBridge</h1>

<h2>Subscriptions</h2>

<h3>Active</h3>
<table>
  <tr>
    <th>api key</th>
    <th>room</th>
    <th>sender</th>
    <th>target</th>
    <th>poll delay</th>
    <th>actions</th>
  </tr>

  <% @data[:bridges].each do |bridge| %>
    <tr>
      <td>...<%= bridge.api_key_snippet %></td>
      <td><%= bridge.room %></td>
      <td><%= bridge.sender %></td>
      <td><%= bridge.target %></td>
      <td><%= bridge.poll_delay %>s</td>
      <td>
        <form method="POST"
              action="/remove_subscription/<%= bridge.encoded_config %>">
          <input type="submit" name="remove" value="remove"/>
        </form>
      </td>
    </tr>
  <% end %>

</table>

<h3>Create</h3>
<form method="POST" action="/add_subscription/form_encoded">
  <label>hipchat api key <input type="text" name="api_key"></label><br/>
  <label>hipchat room <input type="text" name="room"></label><br/>
  <label>hipchat message sender <input type="text" name="sender"></label><br/>
  <label>bridge message target <input type="text" name="target"></label><br/>
  <label>bridge poll delay <input type="text" name="delay"></label><br/>
  <input type="submit" name="submit" value="add subscription"/>
</form>
